#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button--border {
  background-color: #334d00;
  width: 200px;
  height: 200px;
  transition-duration: 0.2s;
}
.button--border:hover {
  transform: translate(-3px, -3px);
  transition-duration: 0.2s;
}

.button--actual {
  background-color: #ffffcc;
  border: 1px solid #334d00;
  width: 100%;
  height: 100%;
  transition-duration: 0.2s;
}
.button--actual:hover {
  transform: translate(6px, 6px);
  transition-duration: 0.2s;
  cursor: pointer;
}

.button--content {
  filter: grayscale(80%);
  transition-duration: 0.2s;
  width: 90%;
  height: 90%;
  padding: 5%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.button--content:hover {
  filter: grayscale(0%);
  transition-duration: 0.2s;
}

.button--image {
  float:right;
  padding: 0% 5%;
}

.button--text {
  font-family: Gill Sans, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  line-height: 14px;
}

.skills-listed {
  padding-inline-start: 20px;
  margin-block-start: 5px;
}