:root {
  font-family: FreeMono, monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* background-image: radial-gradient(#242424 2%, transparent 3%); */
  background-color: #ffffcc;
  /* background-size: 25px 25px; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
